.grey {
	color: #777777 !important;
}

.badge-grey {
	background-color: #777777 !important;
}

.red {
	color: #dd5a43 !important;
}

.badge-red {
	background-color: #dd5a43 !important;
}

.pink {
    color: #c6699f !important;
}

.badge-pink {
	background-color: #c6699f !important;
}

.yellow {
	color: #fff014 !important;
}

.badge-yellow {
	background-color: #fff014 !important;
}

.orange {
    color: #ff892a !important;
}

.badge-orange {
	background-color: #e8b110 !important;
}

.purple {
    color: #a069c3 !important;
}

.badge-purple {
	background-color: #a069c3 !important;
}

.light-blue {
    color: #93cbf9 !important;
}

.badge-light-blue {
	background-color: #93cbf9 !important;
}

.blue {
    color: #478fca !important;
}

.badge-blue {
	background-color: #478fca !important;
}

.light-green {
    color: #b0d877 !important;
}

.badge-light-green {
	background-color: #b0d877 !important;
}

.green {
    color: #69aa46 !important;
}

.badge-green {
	background-color: #69aa46 !important;
}