.navbar {
	background: #F4661B;
}


.login-box .toolbar {
    background: #f97512;
    border-top: 2px solid #d06210;
}

.table-header {
	background-color: #F4661B;
}

.aa-datatable-container {
    background-color: #F4661B;
}