.navbar {
	background: #57ce28;
}


.login-box .toolbar {
    background: #57ce28;
    border-top: 2px solid #40981d;
}

.table-header {
	background-color: #57ce28;
}

.aa-datatable-container {
    background-color: #57ce28;
}